.web-design-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $peach-color;
  width: 1111px;
  height: 252px;
  border-radius: 12px;
  margin-bottom: 16rem;

  div {
    h1 {
      @include fonts($h1-fs, $h1-lh);
      color: $white-color;
      font-family: $main-font;
      margin-bottom: 2.4rem;
    }
    p {
      @include fonts($body-fs, $body-lh);
      color: $white-color;
      opacity: 0.8;
      display: flex;
      justify-content: center;

      text-align: center;
    }
  }
}

.web-title {
  margin-bottom: 3.2rem;
  background-color: #fdf3f0;
  width: 350px;
  height: 158px;
  h3 {
    color: $peach-color;
    padding-top: 3.2rem;
    margin-bottom: 1.6rem;
    padding-left: 12.2rem;
    font-family: $main-font;
  }

  p {
    margin-left: 10.2rem;
    display: flex;
    text-align: center;
    font-family: $main-font;
    margin-bottom: 3.2rem;
  }
}

.web-design-img-and-title-any {
  display: flex;
  gap: 3rem;
}

.web-design-img-and-title-any-1 {
  display: flex;
  gap: 3rem;
  margin-bottom: 1.9rem;
}

.web-main-img {
  display: flex;
  gap: 3rem;
  margin-bottom: 19rem;
}

.web-title-1 {
  margin-bottom: 3.2rem;
  background-color: #fdf3f0;
  width: 350px;
  height: 158px;
  h3 {
    color: $peach-color;
    padding-top: 3.2rem;
    margin-bottom: 1.6rem;
    padding-left: 7.2rem;
    font-family: $main-font;
  }

  p {
    margin-left: 10.2rem;
    display: flex;
    text-align: center;
    font-family: $main-font;
    margin-bottom: 3.2rem;
  }
}

.web-title-2 {
  margin-bottom: 3.2rem;
  background-color: #fdf3f0;
  width: 350px;
  height: 158px;
  h3 {
    color: $peach-color;
    padding-top: 3.2rem;
    margin-bottom: 1.6rem;
    padding-left: 14.2rem;
    font-family: $main-font;
  }

  p {
    margin-left: 9.2rem;
    display: flex;
    text-align: center;
    font-family: $main-font;
    margin-bottom: 3.2rem;
  }
}

.web-title-5 {
  margin-bottom: 3.2rem;
  background-color: #fdf3f0;
  width: 350px;
  height: 158px;
  h3 {
    color: $peach-color;
    padding-top: 3.2rem;
    margin-bottom: 1.6rem;
    padding-left: 8.2rem;
    font-family: $main-font;
  }

  p {
    margin-left: 9.2rem;
    display: flex;
    text-align: center;
    font-family: $main-font;
    margin-bottom: 3.2rem;
  }
}

.web-title:hover {
  background-color: #e7816b;
  color: #ffffff;
  h3:hover {
    color: $white-color;
  }
}

.web-title-5:hover {
  background-color: #e7816b;
  color: #ffffff;
  h3:hover {
    color: $white-color;
  }
}

.web-title-2:hover {
  background-color: #e7816b;
  color: #ffffff;
  h3:hover {
    color: $white-color;
  }
}
.web-title-1:hover {
  background-color: #e7816b;
  color: #ffffff;
  h3:hover {
    color: $white-color;
  }
}
